{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}

    {% if pathAssets is not empty %}
        <link rel="stylesheet" href="{{ asset( '../' ~ pathAssets ~ '/css/prestasdk.css') }}" type="text/css" media="all">
    {% endif %}

{% endblock %}

{% block content %}

    <div id="pw-panel">

        <div class="pw-panel-header">

            {% if _positions.BeforeHeader is defined %}
                {{ _positions.BeforeHeader|raw }}
            {% endif %}

            <div class="pw-panel-info">
                {% include pathViewsSDK ~ '/Blocks/info.html.twig' %}
            </div>

            {% if _positions.AfterHeader is defined %}
                {{ _positions.AfterHeader|raw }}
            {% endif %}
        </div>

        <div class="pw-panel-menu">
            {% include pathViewsSDK ~ '/Blocks/menu.html.twig' %}
        </div>

        <div class="pw-panel-content">

            {% if _positions.SideBar is defined %}
                <div class="pw-panel-sidebar col-md-3">
                    {{ _positions.SideBar|raw }}
                </div>
                {% set classContainer = 'col-md-9' %}
            {% else %}
                {% set classContainer = '' %}
            {% endif %}

            <div id="panelContainer" class="{{ classContainer }}">

                {% if _positions.TopContent is defined %}
                    {{ _positions.TopContent|raw }}
                {% endif %}

                {% include viewContent %}

                {% if _positions.BottomContent is defined %}
                    {{ _positions.BottomContent|raw }}
                {% endif %}

            </div>

        </div>

        <div class="pw-panel-footer">
            {% if _positions.Footer is defined %}
                {{ _positions.Footer|raw }}
            {% endif %}
        </div>

    </div>

{% endblock %}

